# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
*.env

# The development sqlite file
database/*.sqlite

# Logs
/logs
*.log

# macOS
.DS_Store

# VSCode & Webstorm history directories
.history
.idea

# Vim swap files
*.swp
